@use "./variables/colors.scss";

// vendors
@import url("./vendors/normalize.scss");
@import url("./vendors/grid-system.scss");

body {
    background-color: colors.$gray-50;
    font-family: 'Encode Sans';
    overflow-x: hidden;
}

.app-container {
    display: flex;
}

.container-outlet{
    width: 100%;
}
