@use "styles/variables/colors.scss";
@use "styles/mixins/flex.scss";
 

.home-container {
    padding: 0 32px;

    .card-coins-prices {
        @include flex.flexbox(1rem);
        @include flex.flex-wrap(wrap);
        @include flex.justify-content(space-between);

        .card {
            width: 300px;
            flex: 1 0 300px;

            .content {
                @include flex.flexbox(1rem);
                @include flex.flex-direction(column);

                img {
                    width: 3.5rem;
                }

                .info {
                    @include flex.flexbox(1rem);
                    @include flex.flex-direction(column);

                    .transaction {
                        @include flex.flexbox(1rem);
                        @include flex.align-items(center);

                        i {
                            font-size: 10px;
                        }
                    }

                    .price {
                        font-size: 1.6rem;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
