@use "styles/variables/colors.scss";
@use "styles/mixins/flex.scss";

.card {
    @include flex.flexbox();
    @include flex.align-items(center);
    background-color: colors.$white;
    border-radius: 16px;
    width: fit-content;
    padding: 24px;
    gap: 16px;
}
