@use "styles/variables/colors.scss";
@use "styles/variables/breakpoints.scss";

.navbar-container {
    height: 50px;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

    .greeting {
        font-size: 24px;
        font-weight: 600;
    }

    span {
        @include breakpoints.breakpoint(md) {
            display: none;
        }
    }
}
