@use "styles/variables/colors.scss";
@use "styles/variables/breakpoints.scss";
@use "styles/mixins/flex.scss";

.navbar-container {
    @include flex.flexbox();
    @include flex.flex-wrap(wrap);
    @include flex.align-items(center);
    @include flex.justify-content(space-around);
    
    padding: 20px 0;
    height: 50px;
    .greeting {
        font-size: 24px;
        font-weight: 600;
    }

    span {
        @include breakpoints.breakpoint(md) {
            display: none;
        }
    }
}
