$white: #FFFFFF;
$transparent: transparent;

$black: #000;

// gray scale
$gray-50: #EFF3FD;
$gray-100: #EFF4FB;
$gray-200: #F6F8FD;
$gray-300: #F4F7FE;
$gray-500: #E0E5F2;

// green scale
$green-500: #00DEA3;

// dark blue scale
$dark-blue-300: #2C436F;
$dark-blue-900: #1C1B1F;

// Red scale
$red-400: #e12f20;

